* {
  margin: 0;
  padding: 0;
  background-color: #f0f1f2;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

nav .top-nav {
  background-color: #35578f;
  display: flex;
  justify-content: space-between;
}

nav .top-nav h1 {
  color: white;
  background-color: #35578f;
  font-size: 36px;
  padding: 18px 24px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

nav .top-nav .array-inputs {
  display: flex;
}

nav .top-nav .array-inputs .size-array {
  background-color: green;
  display: flex;
  align-items: center;
}

nav .top-nav .buttons {
  background-color: #35578f;
  display: flex;
  align-items: center;

}

nav .top-nav button {
  height: 40px;
  width: 150px;
  margin: auto 15px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  border-radius: 10px;
  border-color: red;
  border-width: medium;
  /* background-color: #7ccef7; */
  border: 0;
}

nav .top-nav button:hover {
  background-color: orange;
}

nav .bottom-nav {
  background-color: #35578f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav .bottom-nav .array-inputs {
  background-color: #35578f;
  color: white;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  padding: 25px;
}

nav .bottom-nav .array-inputs .size-array {
  background-color: #35578f;
  display: flex;
  padding: 10px;
}

nav .bottom-nav .array-inputs .size-array p {
  background-color: #35578f;
  margin-right: 10px;
}

nav .bottom-nav .array-inputs .speed-array {
  background-color: #35578f;
  display: flex;
  padding: 10px;
}

nav .bottom-nav .array-inputs .speed-array p {
  background-color: #35578f;
  margin-right: 10px;
}

nav .bottom-nav button {
  height: 60px;
  width: 175px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

nav .bottom-nav button:hover {
  background-color: orange;
}
