* {
  margin: 0;
  padding: 0;
  background-color: #f0f1f2;
}

body {
  /* max-width: 1920px; */
  margin: 0 auto;
}

nav .top-nav {
  background-color: #35578f;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .top-nav h1 {
  color: white;
  background-color: #35578f;
  font-size: 36px;
  padding: 18px 24px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

nav .top-nav .array-inputs {
  display: flex;
}

nav .top-nav .array-inputs .size-array {
  background-color: green;
  display: flex;
  align-items: center;
}

nav .top-nav .buttons {
  background-color: #35578f;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

nav .top-nav button {
  height: 40px;
  width: 150px;
  margin: auto 15px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  /* border-radius: 10px; */
  border-color: red;
  border-width: medium;
  background-color: #35578f;
  color: white;
  border: 0;
}

nav .top-nav button:hover {
  background-color: #226c7d;
  cursor: pointer;
}

nav .bottom-nav {
  background-color: #35578f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

nav .bottom-nav .array-inputs {
  background-color: #35578f;
  color: white;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  padding: 25px;
  flex-wrap: wrap;
}

nav .bottom-nav .array-inputs .size-array {
  background-color: #35578f;
  display: flex;
  padding: 10px;
}

nav .bottom-nav .array-inputs .size-array p {
  background-color: #35578f;
  margin-right: 10px;
}

nav .bottom-nav .array-inputs .speed-array {
  background-color: #35578f;
  display: flex;
  padding: 10px;
}

nav .bottom-nav .array-inputs .speed-array p {
  background-color: #35578f;
  margin-right: 10px;
}

nav .bottom-nav button {
  height: 60px;
  width: 175px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  background-color: #f3f0f1;
  border: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.2),
        6px 6px 10px rgba(0, 0, 0, 0.2);
  }
}

nav .bottom-nav button:hover {
  opacity: .3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}

.algo {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  padding-top: 100px;
}

.algo .array_container {
  display: flex;
  max-width: 1500px;
  min-height: 50vh;
  height: 500px;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  display: inline;
  background-color: #4a4a4a;
  align-items: center;
}

footer h3 {
  background-color: #4a4a4a;
  /* height: auto;
  width: 400px; */
  padding: 18px 12px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}
